{% extends 'base.html.twig' %}
{% block title %} Category {% endblock %}
{% block body %}
<h1>{{ category.Categoryname }}</h1>
<p>{{ category.Categorystatus }}</p>
<hr>
<a href="/">Go Back</a>
{% endblock %}
